<div class="tab-pane" id="1">
  <div class="row">
    <div class="col-sm-12">
      <h4 class="info-text">
        Chapter 1 - Introduction to Python Answers
      </h4>
    </div>
    <div class="col-sm-12">
      <div class="form-group">

        {% include "./answers/answer_01/answer_01Ex_01.html" %}
        <br>

        {% include "./answers/answer_01/answer_01Ex_02.html" %}
        <br>

        {% include "./answers/answer_01/answer_01Ex_03.html" %}
        <br>

        {% include "./answers/answer_01/answer_01Ex_04.html" %}

      </div>
    </div>

    <div class="col-sm-6">
      <p>
        <a href="{{ url_for('book') }}#1" target="_self" style="font-weight: bold; color:#FF3B30;">Chapter 1 -
          Introduction to Python</a>
      </p>
    </div>

    <div class="col-sm-6">
      <p style="text-align: right;">
        <a href="{{ url_for('challenges') }}#1" target="_self" style="font-weight: bold; color:#FF3B30;">Chapter 1 -
          Challenge</a>
      </p>
    </div>

  </div>
</div>