<div class="tab-pane" id="7">
  <div class="row">
    <div class="col-sm-12">
      <h4 class="info-text">
        Chapter 7 - Loops
      </h4>
    </div>
    <div class="col-sm-6">
      <div class="form-group">

        <iframe style="border-radius: 10px; overflow: hidden; border: 1px solid #FF3B30;"
          src="https://trinket.io/embed/python/f4990ec939" width="100%" height="250" frameborder="0" marginwidth="0"
          marginheight="0" allowfullscreen></iframe><br><br>


        <iframe style="border-radius: 10px; overflow: hidden; border: 1px solid #FF3B30;"
          src="https://trinket.io/embed/python/573cde5c83" width="100%" height="250" frameborder="0" marginwidth="0"
          marginheight="0" allowfullscreen></iframe>

      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">

        <iframe style="border-radius: 10px; overflow: hidden; border: 1px solid #FF3B30;"
          src="https://trinket.io/embed/python/c353d573db" width="100%" height="250" frameborder="0" marginwidth="0"
          marginheight="0" allowfullscreen></iframe><br><br>


        <iframe style="border-radius: 10px; overflow: hidden; border: 1px solid #FF3B30;"
          src="https://trinket.io/embed/python/3731c812b0" width="100%" height="250" frameborder="0" marginwidth="0"
          marginheight="0" allowfullscreen></iframe>

      </div>
    </div>

    <div class="col-sm-12">
      <p>
        <a href="{{ url_for('book') }}" target="_self" style="font-weight: bold; color:#FF3B30;">Chapter 7 - Loops</a>
      </p>
    </div>

  </div>
</div>