<div class="tab-pane" id="2">
  <div class="row">

    <div class="col-sm-6">
      <div class="form-group">
        <h4 class="info-text">
          Chapter 2 - Variables and Data Types
        </h4>
        <p>
          <sub style="font-size: 30px; font-weight: bold; color:#FF3B30;">W</sub>e'll learn about
          variables and basic data types. Imagine variables like boxes where you can put stuff, and
          data types like the different kinds of information you can put in those boxes.
        </p>
        <br>

        <strong>
          &bull; What are Variables and Data Types?
        </strong>
        <p>
          Variables are like labeled containers. Within these containers we place our information to
          be used for later use. The information placed in these containers can be numbers, words, and
          lists of things, just like how you might have separate boxes for your shoes, clothes, and
          books. Each container holds a specific type of information, making it easier for the
          computer to understand what we're working with.
        </p>

        {% include "./chapters/chapter_02/chapter_02Ex_01.html" %}

        <p style="text-align: center; font-size: 12px;" class="control-label">
          variable = information<br>
          The image above displays two variables. A variable called name with the information of
          someone named Julia, and a variable called age with someone's age as 10.
        </p>
        <br>

        <strong>
          &bull; What are strings and integers?
        </strong>
        <p>
          Did you Notice “Julia" is in quotes and our number / integer is not? That's because strings
          are represented as quotes. Think of strings like colored beads placed on a string necklace.
          Each bead represents a letter or a symbol, while integers are plain number blocks used for
          counting and math.
        </p>

      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">

        <strong>
          &bull; What is print: <a href="https://www.w3schools.com/python/ref_func_print.asp" target="_blank"
            style="font-weight: bold; color:#FF3B30;">print(
            )</a>
        </strong>
        <p>
          Suppose we want to see what's stored in our variables. We can use a special Python key word
          called <a href="https://www.w3schools.com/python/ref_func_print.asp" target="_blank"
            style="font-weight: bold; color:#FF3B30;">print</a>.
        </p>

        {% include "./chapters/chapter_02/chapter_02Ex_02.html" %}


        <iframe style="border-radius: 10px; overflow: hidden; border: 1px solid #FF3B30;"
          src="https://trinket.io/embed/python/b4eeb763ea" width="100%" height="250" frameborder="0" marginwidth="0"
          marginheight="0" allowfullscreen></iframe><br><br>

        <p>
          <a href="{{ url_for('challenges') }}#2" target="_self" style="font-weight: bold; color:#FF3B30;">Chapter 2 -
            Variables
            and Data Types Challenge</a>
        </p>

      </div>
    </div>
  </div>
</div>