<div class="tab-pane" id="6">
  <div class="row">

    <div class="col-sm-6">
      <div class="form-group">
        <h4 class="info-text">
          Chapter 6 - Lists
        </h4>
        <p>
          <sub style="font-size: 30px; font-weight: bold; color:#FF3B30;">W</sub>e learned about variables and how they
          can
          contain a string, integer, and a boolean but we
          also have a list.
        </p>
        <br>

        <strong>
          &bull; List: <a href="python.org" target="_blank" style="font-weight: bold; color:#FF3B30;">[ ]</a>
        </strong>
        <p>
          Although a variable can technically hold only one item at
          a time, a list is capable of containing a plethora of items
          with diverse data types. The distinction lies in its
          presentation: lists are denoted by square brackets
          enclosing multiple items separated by commas.
        </p>

        {% include "./chapters/chapter_06/chapter_06Ex_01.html" %}
        <br>

        <strong>
          &bull; Indexing:
        </strong>
        <p>
          Suppose we want to find a specific item within our list, we
          can easily access it by indexing it numeric position. We
          start from 0, 1, 2… and so on.
        </p>


      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">

        {% include "./chapters/chapter_06/chapter_06Ex_02.html" %}
        <br>

        <strong>
          &bull; Bonus:
        </strong>
        <p>
          You can have multiple single if or elif statements however
          you can only have one else in a single block of code.
        </p>
        <br>

        <iframe style="border-radius: 10px; overflow: hidden; border: 1px solid #FF3B30;"
          src="https://trinket.io/embed/python/114a4e998b" width="100%" height="250" frameborder="0" marginwidth="0"
          marginheight="0" allowfullscreen></iframe><br><br>

        <p>
          <a href="#" target="_blank" style="font-weight: bold; color:#FF3B30;">
            Chapter 6 - Lists Challenge</a>
        </p>

      </div>
    </div>
  </div>
</div>