<div class="tab-content">

  {% include "./answers/answer_01/answer_01.html" %}
  {% include "./answers/answer_02/answer_02.html" %}
  {% include "./answers/answer_03/answer_03.html" %}
  {% include "./answers/answer_04/answer_04.html" %}
  {% include "./answers/answer_05/answer_05.html" %}
  {% include "./answers/answer_06/answer_06.html" %}
  {% include "./answers/answer_07/answer_07.html" %}
  {% include "./answers/answer_08/answer_08.html" %}
  {% include "./answers/answer_09/answer_09.html" %}
  {% include "./answers/answer_10/answer_10.html" %}

</div>