<div class="tab-pane" id="1">
  <div class="row">
    <!-- <h4 class="info-text">
      Chapter 1 - Introduction to Python
    </h4> -->
    <div class="col-sm-6">
      <div class="form-group">
        <img style="border-radius: 50%; border: 5px solid #FF3B30; margin: 0px 0px 0px 65px;"
          src="https://avatars.githubusercontent.com/u/2894642?v=4" alt="Guido van
        Rossum" width="75%">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <h4 class="info-text">
          Chapter 1 - Introduction to Python
        </h4>
        <p>
          <sub style="font-size: 30px; font-weight: bold; color:#FF3B30;">W</sub>elcome to Python
          programming! Python is a versatile, easy-to-learn language used in web development, data
          analysis, AI, and more. It's known for its readability and simplicity.
        </p>
        <br>

        <strong>
          &bull; Who created Python?
        </strong>
        <p>
          Python was created by <a href="https://github.com/gvanrossum" target="_blank"
            style="font-weight: bold; color:#FF3B30;">Guido van
            Rossum</a>, a
          Dutch programmer, and it was first released in
          1991.
        </p>
        <br>

        <strong>
          &bull; Why learn Python?
        </strong>
        <p>
          Python is versatile, readable, boasts a large community, and is in high demand in the job
          market.
        </p>
        <br>

        <strong>
          &bull; How to set up Python?
        </strong>
        <p>
          We'll install python from <a href="python.org" target="_blank"
            style="font-weight: bold; color:#FF3B30;">python.org</a>, however for the first few
          chapters we'll use an embedded code editor.
        </p>
        <br>

        <p>
          <a href="#" target="_blank" style="font-weight: bold; color:#FF3B30;">Chapter 1 -
            Introduction to Python Challenge</a>
        </p>

      </div>
    </div>
  </div>
</div>