<div class="tab-pane" id="2">
  <div class="row">
    <div class="col-sm-12">
      <h4 class="info-text">
        Chapter 2 - Variables and Data Types Answers
      </h4>
    </div>
    <div class="col-sm-12">
      <div class="form-group">

        {% include "./answers/answer_02/answer_02Ex_01.html" %}
        <br>

        {% include "./answers/answer_02/answer_02Ex_02.html" %}
        <br>

        {% include "./answers/answer_02/answer_02Ex_03.html" %}
        <br>

        {% include "./answers/answer_02/answer_02Ex_04.html" %}

      </div>
    </div>

    <div class="col-sm-6">
      <p>
        <a href="{{ url_for('book') }}#2" target="_self" style="font-weight: bold; color:#FF3B30;">Chapter 2 - Variables
          and Data Types</a>
      </p>
    </div>

    <div class="col-sm-6">
      <p style="text-align: right;">
        <a href="{{ url_for('challenges') }}#2" target="_self" style="font-weight: bold; color:#FF3B30;">Chapter 2 -
          Challenge</a>
      </p>
    </div>

  </div>
</div>