<div class="tab-pane" id="3">
  <div class="row">
    <!-- <h4 class="info-text">
      Chapter 2 - Variables and Data Types
    </h4> -->
    <div class="col-sm-6">
      <div class="form-group">
        <h4 class="info-text">
          Chapter 3 - Comparison Operators
        </h4>
        <p>
          <sub style="font-size: 30px; font-weight: bold; color:#FF3B30;">S</sub>uppose you have two
          numbers or pieces of information, like apples and oranges. Comparison operators in Python
          are like tools you can use to compare these numbers or pieces of information to see how they
          relate to each other. Here are some of the main comparison operators:
        </p>
        <br>

        <strong>
          &bull; Equal to: <a href="python.org" target="_blank" style="font-weight: bold; color:#FF3B30;">==</a>
        </strong>
        <p>
          Checks if two things are exactly the same.
        </p>

        {% include "./chapters/chapter_03/chapter_03Ex_01.html" %}
        <br>

        <strong>
          &bull; Not equal to: <a href="python.org" target="_blank" style="font-weight: bold; color:#FF3B30;">!=</a>
        </strong>
        <p>
          Checks if two things are exactly the same.
        </p>

        <strong>
          &bull; Greater than: <a href="python.org" target="_blank" style="font-weight: bold; color:#FF3B30;">></a>
        </strong>
        <p>
          Checks if one thing is bigger than another.
        </p>

        <strong>
          &bull; Less than: <a href="python.org" target="_blank" style="font-weight: bold; color:#FF3B30;">&lt;</a>
        </strong>
        <p>
          Checks if one thing is smaller than another.
        </p>

        <strong>
          &bull; Greater than or equal to: <a href="python.org" target="_blank"
            style="font-weight: bold; color:#FF3B30;">>=</a>
        </strong>
        <p>
          Checks if one thing is either bigger than or equal to
          another.
        </p>

      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">

        <strong>
          &bull; Less than or equal to: <a href="python.org" target="_blank" style="font-weight: bold; color:#FF3B30;">
            &lt;=</a>
        </strong>
        <p>
          Checks if one thing is either smaller than or equal to
          another.
        </p>


        {% include "./chapters/chapter_03/chapter_03Ex_02.html" %}
        <br>

        <strong>
          &bull; Bonus: <a href="python.org" target="_blank" style="font-weight: bold; color:#FF3B30;">and</a>, <a
            href="python.org" target="_blank" style="font-weight: bold; color:#FF3B30;">or</a>, <a href="python.org"
            target="_blank" style="font-weight: bold; color:#FF3B30;">not</a>, <a href="python.org" target="_blank"
            style="font-weight: bold; color:#FF3B30;">True</a> and <a href="python.org" target="_blank"
            style="font-weight: bold; color:#FF3B30;">False</a>
        </strong>
        <p>
          In addition to comparison operators, Python features
          logical operators: and, or, and not. Alongside these
          logical operators, Python also has True and False values.
        </p>
        <br>

        <iframe style="border-radius: 10px; overflow: hidden; border: 1px solid #FF3B30;"
          src="https://trinket.io/embed/python3/8a800776ac" width="100%" height="250" frameborder="0" marginwidth="0"
          marginheight="0" allowfullscreen></iframe><br><br>

        <p>
          <a href="#" target="_blank" style="font-weight: bold; color:#FF3B30;">Chapter 3 - Comparison
            Operators Challenge</a>
        </p>

      </div>
    </div>
  </div>
</div>