<div class="tab-pane" id="8">
  <div class="row">

    <div class="col-sm-6">
      <div class="form-group">
        <h4 class="info-text">
          Chapter 8 - Dictionaries
        </h4>
        <p>
          <sub style="font-size: 30px; font-weight: bold; color:#FF3B30;">A</sub> dictionary in Python is like a book
          that stores
          information in pairs. Imagine you have a book
          where you can find information by looking at the
          special labels. Each label tells you exactly where to find
          something in the book.
        </p>
        <br>

        <strong>
          &bull; Dict: <a href="python.org" target="_blank" style="font-weight: bold; color:#FF3B30;">{ }</a>
        </strong>
        <p>
          Dictionaries are like special containers where you have
          keys on the left and their matching values on the right,
          separated by a colon. These pairs are called key-value
          pairs. Values can be numbers (like ints or floats), words
          (strings), lists, other dictionaries, and even more! Please
          take notice of the curly brackets / braces and colon.
        </p>

        {% include "./chapters/chapter_08/chapter_08Ex_01.html" %}

      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">

        {% include "./chapters/chapter_08/chapter_08Ex_02.html" %}
        <br>

        <strong>
          &bull; Bonus:
        </strong>
        <p>
          You can have multiple single if or elif statements however
          you can only have one else in a single block of code.
        </p>

        <iframe style="border-radius: 10px; overflow: hidden; border: 1px solid #FF3B30;"
          src="https://trinket.io/embed/python3/8a800776ac" width="100%" height="250" frameborder="0" marginwidth="0"
          marginheight="0" allowfullscreen></iframe><br><br>

        <p>
          <a href="#" target="_blank" style="font-weight: bold; color:#FF3B30;">
            Chapter 8 - Dictionaries Challenge</a>
        </p>

      </div>
    </div>
  </div>
</div>