<div class="tab-pane" id="1">
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <h4 class="info-text">
          Chapter 1 - Introduction to Python
        </h4>
        <!-- <img style="border-radius: 50%; border: 5px solid #FF3B30; margin: 0px 0px 0px 65px;"
          src="https://avatars.githubusercontent.com/u/2894642?v=4" alt="Guido van
        Rossum" width="75%"> -->

        <p>
          <sub style="font-size: 30px; font-weight: bold; color:#FF3B30;">W</sub>elcome, programmers! In this
          exciting journey through the world of coding, we're going to start by
          learning about Python, a powerful and friendly programming language.
        </p>

        <p>
          Imagine Python as your magical wand, allowing you to create spells (or in this case, programs) that make
          computers do incredible things. Whether it's building games, crafting stories, or solving puzzles, Python is
          your gateway to a universe of endless possibilities.
        </p>

        <p>
          In this chapter, we'll embark on our adventure by getting to know Python. We'll learn what makes it special,
          why it's loved by programmers around the globe, and how it can help us bring our creative ideas to life.
        </p>

        <p>
          So, grab your imagination and let's dive into the enchanting world of Python programming!
        </p>

      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <!-- <h4 class="info-text">
          Chapter 1 - Introduction to Python
        </h4> -->
        <!-- <p>
          <sub style="font-size: 30px; font-weight: bold; color:#FF3B30;">W</sub>elcome to Python
          programming! Python is a versatile, easy-to-learn language used in web development, data
          analysis, AI, and more. It's known for its readability and simplicity.
        </p>
        <br> -->

        <strong>
          &bull; Who created Python?
        </strong>
        <p>
          Python was created by <a href="https://github.com/gvanrossum" target="_blank"
            style="font-weight: bold; color:#FF3B30;">Guido van
            Rossum</a>, a
          Dutch programmer, and it was first released in
          1991.
        </p>
        <br>

        <strong>
          &bull; Why learn Python?
        </strong>
        <p>
          Python is versatile, readable, boasts a large community, and is in high demand in the job
          market.
        </p>
        <br>

        <strong>
          &bull; How to set up Python?
        </strong>
        <p>
          We'll install python from <a href="python.org" target="_blank"
            style="font-weight: bold; color:#FF3B30;">python.org</a>, however for the first few
          chapters we'll use an embedded code editor.
        </p>
        <br>

        <p>
          <a href="#" target="_blank" style="font-weight: bold; color:#FF3B30;">Chapter 1 -
            Introduction to Python Challenge</a>
        </p>

      </div>
    </div>
  </div>
</div>