<div class="tab-pane" id="7">
  <div class="row">

    <div class="col-sm-6">
      <div class="form-group">
        <h4 class="info-text">
          Chapter 7 - Loops
        </h4>
        <p>
          <sub style="font-size: 30px; font-weight: bold; color:#FF3B30;">T</sub>hink of a loop as an assistant that
          handles a
          repetitive task for you. We simply type "for"
          iterator_name "in" the_list_name to loop thru.
        </p>
        <br>

        <strong>
          &bull; <a href="python.org" target="_blank" style="font-weight: bold; color:#FF3B30;">for</a> loop:
        </strong>
        <p>
          Imagine we're at a grocery store with a shopping cart full
          of items. When we go to checkout, each item gets
          scanned and added to our bill. This is similar to how a for
          loop works. In a for loop, we go through a group of items
          (like numbers or words) one by one. It's like scanning
          each item at the checkout. Just as we see the item number
          or name on our bill, during the loop, we can see each
          item's value or name as we go through them one by one.
        </p>

        {% include "./chapters/chapter_07/chapter_07Ex_01.html" %}
        <br>

        <strong>
          &bull; Bonus:
        </strong>
        <p>
          In addition to a for loop, there's also a while loop, which
          loops for a given duration until a requirement is met.
        </p>

      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">

        {% include "./chapters/chapter_07/chapter_07Ex_02.html" %}
        <br>

        <iframe style="border-radius: 10px; overflow: hidden; border: 1px solid #FF3B30;"
          src="https://trinket.io/embed/python3/8a800776ac" width="100%" height="250" frameborder="0" marginwidth="0"
          marginheight="0" allowfullscreen></iframe><br><br>

        <p>
          <a href="#" target="_blank" style="font-weight: bold; color:#FF3B30;">
            Chapter 7 - Loops Challenge</a>
        </p>

      </div>
    </div>
  </div>
</div>