{% extends "base.html" %}

{% block navigation %}
<h1>Navigation</h1>
<div class="wizard-navigation">
  <ul>
    <li><a href="#1" data-toggle="tab">1</a></li>
    <li><a href="#2" data-toggle="tab">2</a></li>

    <li><a href="#3" data-toggle="tab">3</a></li>
    <li><a href="#4" data-toggle="tab">4</a></li>

    <li><a href="#5" data-toggle="tab">5</a></li>
    <li><a href="#6" data-toggle="tab">6</a></li>

    <li><a href="#7" data-toggle="tab">7</a></li>
    <li><a href="#8" data-toggle="tab">8</a></li>

    <li><a href="#9" data-toggle="tab">9</a></li>
    <li><a href="#10" data-toggle="tab">10</a></li>
  </ul>
</div>
{% endblock %}

{% block content %}
<h1>Content</h1>
<div class="tab-content">

  <div class="tab-pane" id="1">
    <div class="row">
      <!-- <h4 class="info-text">
        Chapter 1 - Introduction to Python
      </h4> -->
      <div class="col-sm-6">
        <div class="form-group">
          <img style="border-radius: 50%; border: 5px solid #FF3B30; margin: 0px 0px 0px 65px;"
            src="https://avatars.githubusercontent.com/u/2894642?v=4" alt="Guido van
          Rossum" width="75%">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <h4 class="info-text">
            Chapter 1 - Introduction to Python
          </h4>
          <p>
            <sub style="font-size: 30px; font-weight: bold; color:#FF3B30;">W</sub>elcome to Python
            programming! Python is a versatile, easy-to-learn language used in web development, data
            analysis, AI, and more. It's known for its readability and simplicity.
          </p>
          <br>

          <strong>
            &bull; Who created Python?
          </strong>
          <p>
            Python was created by <a href="https://github.com/gvanrossum" target="_blank"
              style="font-weight: bold; color:#FF3B30;">Guido van
              Rossum</a>, a
            Dutch programmer, and it was first released in
            1991.
          </p>
          <br>

          <strong>
            &bull; Why learn Python?
          </strong>
          <p>
            Python is versatile, readable, boasts a large community, and is in high demand in the job
            market.
          </p>
          <br>

          <strong>
            &bull; How to set up Python?
          </strong>
          <p>
            We'll install python from <a href="python.org" target="_blank"
              style="font-weight: bold; color:#FF3B30;">python.org</a>, however for the first few
            chapters we'll use an embedded code editor.
          </p>
          <br>

          <p>
            <a href="#" target="_blank" style="font-weight: bold; color:#FF3B30;">Chapter 1 -
              Introduction to Python Challenge</a>
          </p>

        </div>
      </div>
    </div>
  </div>

  <div class="tab-pane" id="2">
    <div class="row">
      <!-- <h4 class="info-text">
        Chapter 2 - Variables and Data Types
      </h4> -->
      <div class="col-sm-6">
        <div class="form-group">
          <h4 class="info-text">
            Chapter 2 - Variables and Data Types
          </h4>
          <p>
            <sub style="font-size: 30px; font-weight: bold; color:#FF3B30;">W</sub>e'll learn about
            variables and basic data types. Imagine variables like boxes where you can put stuff, and
            data types like the different kinds of information you can put in those boxes.
          </p>
          <br>

          <strong>
            &bull; What are Variables and Data Types?
          </strong>
          <p>
            Variables are like labeled containers. Within these containers we place our information to
            be used for later use. The information placed in these containers can be numbers, words, and
            lists of things, just like how you might have separate boxes for your shoes, clothes, and
            books. Each container holds a specific type of information, making it easier for the
            computer to understand what we're working with.
          </p>

          <p style="text-align: center; font-size: 12px;" class="control-label">
            variable = information<br>
            The image above displays two variables. A variable called name with the information of
            someone named Julia, and a variable called age with someone's age as 10.
          </p>
          <br>

          <strong>
            &bull; What are strings and integers?
          </strong>
          <p>
            Did you Notice “Julia" is in quotes and our number / integer is not? That's because strings
            are represented as quotes. Think of strings like colored beads placed on a string necklace.
            Each bead represents a letter or a symbol, while integers are plain number blocks used for
            counting and math.
          </p>

        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <!-- <h4 class="info-text">
            Chapter 2 - Variables and Data Types
          </h4> -->
          <strong>
            &bull; What is print: <a href="python.org" target="_blank" style="font-weight: bold; color:#FF3B30;">print(
              )</a>
          </strong>
          <p>
            Suppose we want to see what's stored in our variables. We can use a special Python key word
            called <a href="#" target="_blank" style="font-weight: bold; color:#FF3B30;">print</a>.
          </p>

          <iframe style="border-radius: 10px; overflow: hidden; border: 1px solid #FF3B30;"
            src="https://trinket.io/embed/python3/8a800776ac" width="100%" height="250" frameborder="0" marginwidth="0"
            marginheight="0" allowfullscreen></iframe><br><br>

          <p>
            <a href="#" target="_blank" style="font-weight: bold; color:#FF3B30;">Chapter 2 - Variables
              and Data Types Challenge</a>
          </p>

        </div>
      </div>
    </div>
  </div>

  <div class="tab-pane" id="3">
    <div class="row">
      <!-- <h4 class="info-text">
        Chapter 2 - Variables and Data Types
      </h4> -->
      <div class="col-sm-6">
        <div class="form-group">
          <h4 class="info-text">
            Chapter 3 - Comparison Operators
          </h4>
          <p>
            <sub style="font-size: 30px; font-weight: bold; color:#FF3B30;">S</sub>uppose you have two
            numbers or pieces of information, like apples and oranges. Comparison operators in Python
            are like tools you can use to compare these numbers or pieces of information to see how they
            relate to each other. Here are some of the main comparison operators:
          </p>
          <br>

          <strong>
            &bull; Equal to: <a href="python.org" target="_blank" style="font-weight: bold; color:#FF3B30;">==</a>
          </strong>
          <p>
            Variables are like labeled containers. Within these containers we place our information to
            be used for later use. The information placed in these containers can be numbers, words, and
            lists of things, just like how you might have separate boxes for your shoes, clothes, and
            books. Each container holds a specific type of information, making it easier for the
            computer to understand what we're working with.
          </p>

          <p style="text-align: center; font-size: 12px;" class="control-label">
            variable = information<br>
            The image above displays two variables. A variable called name with the information of
            someone named Julia, and a variable called age with someone's age as 10.
          </p>
          <br>

          <strong>
            &bull; What are strings and integers?
          </strong>
          <p>
            Did you Notice “Julia" is in quotes and our number / integer is not? That's because strings
            are represented as quotes. Think of strings like colored beads placed on a string necklace.
            Each bead represents a letter or a symbol, while integers are plain number blocks used for
            counting and math.
          </p>

        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <!-- <h4 class="info-text">
            Chapter 2 - Variables and Data Types
          </h4> -->
          <strong>
            &bull; What is print: <a href="python.org" target="_blank" style="font-weight: bold; color:#FF3B30;">print(
              )</a>
          </strong>
          <p>
            Suppose we want to see what's stored in our variables. We can use a special Python key word
            called <a href="#" target="_blank" style="font-weight: bold; color:#FF3B30;">print</a>.
          </p>



          <iframe style="border-radius: 10px; overflow: hidden; border: 1px solid #FF3B30;"
            src="https://trinket.io/embed/python3/8a800776ac" width="100%" height="250" frameborder="0" marginwidth="0"
            marginheight="0" allowfullscreen></iframe><br><br>

          <p>
            <a href="#" target="_blank" style="font-weight: bold; color:#FF3B30;">Chapter 3 - Comparison
              Operators Challenge</a>
          </p>

        </div>
      </div>
    </div>
  </div>

  <div class="tab-pane" id="4">
    <div class="row">
      <h4 class="info-text">Introduction to Python</h4>
      <div class="col-sm-6 col-sm-offset-1">
        <div class="form-group">
          <label>Room description</label>
          <textarea class="form-control" placeholder="" rows="6"></textarea>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label class="control-label">Example</label>
          <p class="description">"The room really nice name is recognized as being a really
            awesome
            room. We use it every sunday when we go fishing and we catch a lot. It has some kind
            of
            magic shield around it."</p>
        </div>
      </div>
    </div>
  </div>

  <div class="tab-pane" id="5">
    <div class="row">
      <h4 class="info-text">Introduction to Python</h4>
      <div class="col-sm-6 col-sm-offset-1">
        <div class="form-group">
          <label>Room description</label>
          <textarea class="form-control" placeholder="" rows="6"></textarea>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group">
          <label class="control-label">Example</label>
          <p class="description">"The room really nice name is recognized as being a really
            awesome
            room. We use it every sunday when we go fishing and we catch a lot. It has some kind
            of
            magic shield around it."</p>
        </div>
      </div>
    </div>
  </div>

  <div class="tab-pane" id="6">
    <div class="row">
      <div class="col-sm-12">
        <h4 class="info-text">Introduction to Python</h4>
      </div>
      <div class="col-sm-6">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="material-icons">email</i>
          </span>
          <div class="form-group label-floating">
            <label class="control-label">Your Email</label>
            <input name="name" type="text" class="form-control">
          </div>
        </div>

        <div class="input-group">
          <span class="input-group-addon">
            <i class="material-icons">lock_outline</i>
          </span>
          <div class="form-group label-floating">
            <label class="control-label">Your Password</label>
            <input name="name2" type="password" class="form-control">
          </div>
        </div>

      </div>
      <div class="col-sm-6">
        <div class="form-group label-floating">
          <label class="control-label">Country</label>
          <select class="form-control">
            <option disabled="" selected=""></option>
            <option value="Afghanistan"> Afghanistan </option>
            <option value="Albania"> Albania </option>
            <option value="Algeria"> Algeria </option>
            <option value="American Samoa"> American Samoa </option>
            <option value="Andorra"> Andorra </option>
            <option value="Angola"> Angola </option>
            <option value="Anguilla"> Anguilla </option>
            <option value="Antarctica"> Antarctica </option>
            <option value="...">...</option>
          </select>
        </div>
        <div class="form-group label-floating">
          <label class="control-label">Daily Budget</label>
          <select class="form-control">
            <option disabled="" selected=""></option>
            <option value="Afghanistan">
              < $100 </option>
            <option value="Albania"> $100 - $499 </option>
            <option value="Algeria"> $499 - $999 </option>
            <option value="American Samoa"> $999+ </option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="tab-pane" id="7">
    <h4 class="info-text">Introduction to Python</h4>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="col-sm-4">
          <div class="choice" data-toggle="wizard-radio" rel="tooltip" title="This is good if you travel alone.">
            <input type="radio" name="job" value="Design">
            <div class="icon">
              <i class="material-icons">weekend</i>
            </div>
            <h6>Single</h6>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="choice" data-toggle="wizard-radio" rel="tooltip"
            title="Select this room if you're traveling with your family.">
            <input type="radio" name="job" value="Code">
            <div class="icon">
              <i class="material-icons">home</i>
            </div>
            <h6>Family</h6>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="choice" data-toggle="wizard-radio" rel="tooltip"
            title="Select this option if you are coming with your team.">
            <input type="radio" name="job" value="Code">
            <div class="icon">
              <i class="material-icons">business</i>
            </div>
            <h6>Business</h6>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="tab-pane" id="8">
    <div class="row">
      <h4 class="info-text">Introduction to Python</h4>
      <div class="col-sm-6 col-sm-offset-1">
        <div class="form-group">
          <label>Room description</label>
          <textarea class="form-control" placeholder="" rows="6"></textarea>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label class="control-label">Example</label>
          <p class="description">"The room really nice name is recognized as being a really
            awesome
            room. We use it every sunday when we go fishing and we catch a lot. It has some kind
            of
            magic shield around it."</p>
        </div>
      </div>
    </div>
  </div>

  <div class="tab-pane" id="9">
    <h4 class="info-text">Introduction to Python</h4>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="col-sm-4">
          <div class="choice" data-toggle="wizard-radio" rel="tooltip" title="This is good if you travel alone.">
            <input type="radio" name="job" value="Design">
            <div class="icon">
              <i class="material-icons">weekend</i>
            </div>
            <h6>Single</h6>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="choice" data-toggle="wizard-radio" rel="tooltip"
            title="Select this room if you're traveling with your family.">
            <input type="radio" name="job" value="Code">
            <div class="icon">
              <i class="material-icons">home</i>
            </div>
            <h6>Family</h6>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="choice" data-toggle="wizard-radio" rel="tooltip"
            title="Select this option if you are coming with your team.">
            <input type="radio" name="job" value="Code">
            <div class="icon">
              <i class="material-icons">business</i>
            </div>
            <h6>Business</h6>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="tab-pane" id="10">
    <div class="row">
      <h4 class="info-text">Introduction to Python</h4>
      <div class="col-sm-6 col-sm-offset-1">
        <div class="form-group">
          <label>Room description</label>
          <textarea class="form-control" placeholder="" rows="6"></textarea>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label class="control-label">Example</label>
          <p class="description">"The room really nice name is recognized as being a really
            awesome
            room. We use it every sunday when we go fishing and we catch a lot. It has some kind
            of
            magic shield around it."</p>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}


{% block footer %}
<h1>Footer</h1>
<div class="wizard-footer">

  <div class="pull-right">
    <input type='button' class='btn btn-next btn-fill btn-danger btn-wd' name='next' value='Next' />
    <input type='button' class='btn btn-finish btn-fill btn-danger btn-wd' name='finish' value='Finish' />
  </div>

  <div class="pull-left">
    <input type='button' class='btn btn-previous btn-fill btn-default btn-wd' name='previous' value='Previous' />
  </div>

  <div class="clearfix"></div>
</div>
{% endblock %}