<div class="tab-pane" id="10">
  <div class="row">
    <div class="col-sm-12">
      <h4 class="info-text">
        Chapter 10 - Classes
      </h4>
    </div>
    <div class="col-sm-6">
      <div class="form-group">

        <iframe style="border-radius: 10px; overflow: hidden; border: 1px solid #FF3B30;"
          src="https://trinket.io/embed/python/caf0103bf6" width="100%" height="250" frameborder="0" marginwidth="0"
          marginheight="0" allowfullscreen></iframe><br><br>


        <iframe style="border-radius: 10px; overflow: hidden; border: 1px solid #FF3B30;"
          src="https://trinket.io/embed/python/03c190f76a" width="100%" height="250" frameborder="0" marginwidth="0"
          marginheight="0" allowfullscreen></iframe>

      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">

        <iframe style="border-radius: 10px; overflow: hidden; border: 1px solid #FF3B30;"
          src="https://trinket.io/embed/python/f71b8b80ed" width="100%" height="250" frameborder="0" marginwidth="0"
          marginheight="0" allowfullscreen></iframe><br><br>


        <iframe style="border-radius: 10px; overflow: hidden; border: 1px solid #FF3B30;"
          src="https://trinket.io/embed/python/8e4af2a123" width="100%" height="250" frameborder="0" marginwidth="0"
          marginheight="0" allowfullscreen></iframe>

      </div>
    </div>


    <div class="col-sm-6">
      <p>
        <a href="{{ url_for('book') }}#10" target="_self" style="font-weight: bold; color:#FF3B30;">Chapter 10 -
          Classes</a>
      </p>
    </div>

    <div class="col-sm-6">
      <p style="text-align: right;">
        <a href="{{ url_for('answers') }}#10" target="_self" style="font-weight: bold; color:#FF3B30;">Chapter 10 -
          Answers</a>
      </p>
    </div>

  </div>
</div>