<div class="tab-pane" id="6">
  <div class="row">
    <div class="col-sm-12">
      <h4 class="info-text">
        Chapter 6 - Lists Answers
      </h4>
    </div>
    <div class="col-sm-12">
      <div class="form-group">

        {% include "./answers/answer_06/answer_06Ex_01.html" %}
        <br>

        {% include "./answers/answer_06/answer_06Ex_02.html" %}
        <br>

        {% include "./answers/answer_06/answer_06Ex_03.html" %}
        <br>

        {% include "./answers/answer_06/answer_06Ex_04.html" %}

      </div>
    </div>

    <div class="col-sm-6">
      <p>
        <a href="{{ url_for('book') }}#6" target="_self" style="font-weight: bold; color:#FF3B30;">Chapter 6 - Lists</a>
      </p>
    </div>

    <div class="col-sm-6">
      <p style="text-align: right;">
        <a href="{{ url_for('challenges') }}#6" target="_self" style="font-weight: bold; color:#FF3B30;">Chapter 6 -
          Challenge</a>
      </p>
    </div>

  </div>
</div>