<div class="tab-pane" id="5">
  <div class="row">

    <div class="col-sm-6">
      <div class="form-group">
        <h4 class="info-text">
          Chapter 5 - Conditional Statements
        </h4>
        <p>
          <sub style="font-size: 30px; font-weight: bold; color:#FF3B30;">J</sub>ust like choosing between paths in a
          game, we
          sometimes need to make decisions in our code based
          on certain conditions.
        </p>
        <br>

        <strong>
          &bull; The <a href="https://www.w3schools.com/python/python_conditions.asp" target="_blank"
            style="font-weight: bold; color:#FF3B30;">if</a> Statement:
        </strong>
        <p>
          It's like asking a question. If a condition is true, it does
          something.
        </p>

        {% include "./chapters/chapter_05/chapter_05Ex_01.html" %}
        <br>

        <strong>
          &bull; The <a href="https://www.w3schools.com/python/python_conditions.asp" target="_blank"
            style="font-weight: bold; color:#FF3B30;">elif</a> Statement:
        </strong>
        <p>
          When we have more than one condition, we use "elif"
          (short for "else if”).
        </p>

        {% include "./chapters/chapter_05/chapter_05Ex_02.html" %}
        <br>

        <strong>
          &bull; The <a href="https://www.w3schools.com/python/python_conditions.asp" target="_blank"
            style="font-weight: bold; color:#FF3B30;">else</a> Statement:
        </strong>
        <p>
          The final result when your if and or elif don't pass as true.
        </p>

      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">

        {% include "./chapters/chapter_05/chapter_05Ex_03.html" %}
        <br>

        <strong>
          &bull; Bonus:
        </strong>
        <p>
          You can have multiple single if or elif statements however
          you can only have one else in a single block of code.
        </p>
        <br>

        <iframe style="border-radius: 10px; overflow: hidden; border: 1px solid #FF3B30;"
          src="https://trinket.io/embed/python/4d6845e0e2" width="100%" height="250" frameborder="0" marginwidth="0"
          marginheight="0" allowfullscreen></iframe><br><br>

        <p>
          <a href="#" target="_blank" style="font-weight: bold; color:#FF3B30;">
            Chapter 5 - Conditional Statement Challenge</a>
        </p>

      </div>
    </div>
  </div>
</div>