<div class="tab-pane" id="10">
  <div class="row">
    <div class="col-sm-12">
      <h4 class="info-text">
        Chapter 10 - Classes Answers
      </h4>
    </div>
    <div class="col-sm-12">
      <div class="form-group">

        {% include "./answers/answer_10/answer_10Ex_01.html" %}
        <br>

        {% include "./answers/answer_10/answer_10Ex_02.html" %}
        <br>

        {% include "./answers/answer_10/answer_10Ex_03.html" %}
        <br>

        {% include "./answers/answer_10/answer_10Ex_04.html" %}

      </div>
    </div>

    <div class="col-sm-6">
      <p>
        <a href="{{ url_for('book') }}#10" target="_self" style="font-weight: bold; color:#FF3B30;">Chapter 10 -
          Classes</a>
      </p>
    </div>

    <div class="col-sm-6">
      <p style="text-align: right;">
        <a href="{{ url_for('challenges') }}#10" target="_self" style="font-weight: bold; color:#FF3B30;">Chapter 10 -
          Challenge</a>
      </p>
    </div>

  </div>
</div>