<div class="tab-pane" id="9">
  <div class="row">

    <div class="col-sm-6">
      <div class="form-group">
        <h4 class="info-text">
          Chapter 9 - Functions
        </h4>
        <p>
          <sub style="font-size: 30px; font-weight: bold; color:#FF3B30;">T</sub>hink of a function like a recipe in a
          cookbook. It's a
          set of instructions that tells the computer how to do
          something. Let's say you want to make a sandwich.
          The recipe would tell you what ingredients you need and
          the steps to follow to make the sandwich.
        </p>
        <br>

        <strong>
          &bull; Functions: <a href="python.org" target="_blank" style="font-weight: bold; color:#FF3B30;">def</a>
        </strong>
        <p>
          In Python, a function works similarly. It's a block of code
          that you can use over and over again to perform a specific
          task. Within our function notice the key word return. This
          word calls or invokes our function to run through the
          repetitive statements when want to return our
          information. Please take notice to create a function we
          use the def keyword and parentheses after the function
          name.
        </p>

        {% include "./chapters/chapter_09/chapter_09Ex_01.html" %}

        <p style="text-align: center; font-size: 12px;" class="control-label">
          If we wanted to repeat our sandwich making process we
          would have to copy and paste our four lines of code.
        </p>

      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">

        {% include "./chapters/chapter_09/chapter_09Ex_02.html" %}

        <p style="text-align: center; font-size: 12px;" class="control-label">
          With our function on the other hand if we want to
          showcase or sandwich making process we can just copy
          paste print(make_sandwich()) a second time. Simple!
        </p>
        <br>

        <iframe style="border-radius: 10px; overflow: hidden; border: 1px solid #FF3B30;"
          src="https://trinket.io/embed/python3/8a800776ac" width="100%" height="250" frameborder="0" marginwidth="0"
          marginheight="0" allowfullscreen></iframe><br><br>

        <p>
          <a href="#" target="_blank" style="font-weight: bold; color:#FF3B30;">Chapter 9 - Functions Challenge</a>
        </p>

      </div>
    </div>
  </div>
</div>