<div class="tab-pane" id="9">
  <div class="row">
    <div class="col-sm-12">
      <h4 class="info-text">
        Chapter 9 - Functions Answers
      </h4>
    </div>
    <div class="col-sm-12">
      <div class="form-group">

        {% include "./answers/answer_09/answer_09Ex_01.html" %}
        <br>

        {% include "./answers/answer_09/answer_09Ex_02.html" %}
        <br>

        {% include "./answers/answer_09/answer_09Ex_03.html" %}
        <br>

        {% include "./answers/answer_09/answer_09Ex_04.html" %}

      </div>
    </div>

    <div class="col-sm-6">
      <p>
        <a href="{{ url_for('book') }}#9" target="_self" style="font-weight: bold; color:#FF3B30;">Chapter 9 -
          Functions</a>
      </p>
    </div>

    <div class="col-sm-6">
      <p style="text-align: right;">
        <a href="{{ url_for('challenges') }}#9" target="_self" style="font-weight: bold; color:#FF3B30;">Chapter 9 -
          Challenge</a>
      </p>
    </div>

  </div>
</div>