<div class="tab-content">

  {% include "./chapters/chapter_01/chapter_01.html" %}
  {% include "./chapters/chapter_02/chapter_02.html" %}
  {% include "./chapters/chapter_03/chapter_03.html" %}
  {% include "./chapters/chapter_04/chapter_04.html" %}
  {% include "./chapters/chapter_05/chapter_05.html" %}
  {% include "./chapters/chapter_06/chapter_06.html" %}
  {% include "./chapters/chapter_07/chapter_07.html" %}
  {% include "./chapters/chapter_08/chapter_08.html" %}
  {% include "./chapters/chapter_09/chapter_09.html" %}
  {% include "./chapters/chapter_10/chapter_10.html" %}

</div>