<div class="wizard-navigation">
  <ul>
    <li><a href="#1" data-toggle="tab">1</a></li>
    <li><a href="#2" data-toggle="tab">2</a></li>

    <li><a href="#3" data-toggle="tab">3</a></li>
    <li><a href="#4" data-toggle="tab">4</a></li>

    <li><a href="#5" data-toggle="tab">5</a></li>
    <li><a href="#6" data-toggle="tab">6</a></li>

    <li><a href="#7" data-toggle="tab">7</a></li>
    <li><a href="#8" data-toggle="tab">8</a></li>

    <li><a href="#9" data-toggle="tab">9</a></li>
    <li><a href="#10" data-toggle="tab">10</a></li>
  </ul>
</div>